---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}{{ '/' | url }}</loc>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}{{ '/brands/' | url }}</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}{{ '/about/' | url }}</loc>
    <priority>0.5</priority>
  </url>
  {% for cat in categories %}
  <url>
    <loc>{{ site.url }}{{ ('/' + cat.slug + '/') | url }}</loc>
    <priority>0.8</priority>
  </url>
  {% endfor %}
  {% for brand in brands %}
  <url>
    <loc>{{ site.url }}{{ ('/brands/' + brand.slug + '/') | url }}</loc>
    <priority>0.7</priority>
  </url>
  {% endfor %}
  {% for product in products %}
  <url>
    <loc>{{ site.url }}{{ ('/products/' + product.slug + '/') | url }}</loc>
    <priority>0.9</priority>
  </url>
  {% endfor %}
</urlset>
